
[program:{{ item.name }}]

command={{ item.command }}

autostart={{ item.autostart | default(false) }}

{% if item.numprocs is defined %}
numprocs={{ item.numprocs }}
process_name=%(program_name)s_%(process_num)02d
{% endif %}

environment=LC_ALL="C.UTF-8",LANG="C.UTF-8"
