---

osp:
  corpus: /osp/repository
  bin: /home/{{ ansible_ssh_user }}/osp/env/bin

hlom:
  corpus: /osp/hlom

jstor:
  corpus: /osp/jstor

tika:
  server: http://localhost:9998/tika

ec2:
  region: {{ ec2_region }}
  namespace: {{ ec2_namespace }}

postgres:

  default:
    args:
      database: osp
      host: localhost
      port: 5432
      user: osp
      password: {{ osp_db_password }}

  remote:
    args:
      host: {{ __osp_data_host }}
    tables:
      - citation
      - institution_document
      - subfield_document

redis:
  host: localhost
  port: 6379
  db: 0

elasticsearch:
  host: localhost
  port: 9200
